/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



@import 'loading_spinner.css.scss';
@import 'pagination.css.scss';
@import 'navbar.css.scss';
@import 'blog.css.scss';
@import 'semantic-ui-css/semantic.min.css';
@import 'flipping.css.scss';

/* always show scrollbar */
body {
  overflow-y: scroll;
}

/* overridden by semantic UI without ID field */
body#body {
  background-image: url('background.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html.noir {
  filter: grayscale(1);
}

.noir-text-hidden {
  font-style: italic;
  visibility: hidden;
  &.active {
    visibility: visible
  }
}

#root-container {
  height: auto;
}

/* big screen */
@media (min-width: 768px) {
  #root-container {
    border-radius: 0px 0px 30px 30px !important;
    height: auto;
  }
  .tab-content {
    h2.article-title {
      font-size: 1.5rem;
    }
  }
}

/* small screen*/
@media only screen and (max-width: 767px) and (min-width: 525px) {
  #root-container {
/*    background-color: blue !important;*/
  }
  #root-container {
    border-radius: 30px 30px 30px 30px !important;
    height: auto;
  }
  .tab-content {
    h2.article-title {
      font-size: 1.2rem;
    }
  }
}

/* tiny screen*/
@media (max-width: 524px) {
  #root-container {
/*    background-color: red !important;*/
  }
  #root-container {
    border-radius: 30px 30px 30px 30px !important;
    height: auto;
  }
  .tab-content {
    h2.article-title {
      font-size: 1rem;
    }
  }
}

input {
  min-width: 7vh;
}

// duplicated from .form-control, do apply to components that we don't have styling
.searchBox {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Only reserve margin-right for tabs if on large screen */
@media (min-width: 767px) {
  #root-container {
  /*  padding-right: calc(var(--bs-gutter-x) * .5) !important;*/
  /*  padding-right: min(70px, calc(var(--bs-gutter-x) * .5));*/
  /* ideally this would be margin-right-min, but not a thing  */
    /* margin-right: 80px !important; */
  }
}