/*small screen*/
@media (max-width: 991px) {
  nav.navbar {
    border-radius: 0px 0px 30px 30px !important;
  }
  .navbar-nav.float-end {
    float: left !important;
  }
}
/*large screen*/
@media (min-width: 992px) {
  nav.navbar {
    border-radius: 0px 0px 30px 30px !important;
  }
}

nav.navbar {
  border: 4px solid #00f0ff !important;
  .nav-item {
    padding-bottom: 10px;
  }
  .navbar-toggler {
    padding-bottom: 10px;
  }
}

#nav-bar-height-buffer {
  height: 60px;
}
