.sidebar-tabs {
  z-index: 101;
  position: fixed;
  height: 60px;
  position: fixed;
  top: 30%;
  width: 70px;
  right: 0;
  transition: right 0.3s ease-in-out;
}

.sidebar-tab {
  button {
    .tab-text {
      width: 100%;
    }
  }
}

#tab-sponsor {
  button {
   background-color: red;
   border-color: red;
  }
}

#tab-test {
  button {
   background-color: purple;
   border-color: purple;
  }
}

.tab-text {
}

/* SMALL TAB LOGIC */
/* Only use small tabs if on small screen */
@media (max-width: 766px) {
  .sidebar-tabs {
    width: 30px;
  }

  .sidebar-tab {
    .tab-text {
      display: none;
    }
  }

  .sidebar-header.open {
    right: -30px;
  }
}


/* LARGE TAB LOGIC */
/* Only use large tabs if on large screen */
@media (min-width: 767px) {
  .sidebar-tabs {
    width: 70px;
  }
}

/* Only reserve large tabs if on large screen */
@media (min-width: 767px) {
  .sidebar-tab {
    width: 70px;
  }
}

/* Only use large tabs if on large screen */
@media (min-width: 767px) {
  .sidebar-header.open {
    right: -70px;
  }
}


.header-toggle-content {
/*  position: relative;*/
}


/* container - need to scroll within maybe, eventually */
.sidebar {
  z-index: 100;
  background-color: #ffeded;
  position: fixed;
  top: 80px;
  right: -15vw;
  /* height could be temp, just populate with who is on team  */
  height: 80%;
  width: 15vw;
  &.open {
    min-width: 90px;
  }
  transition: right 0.3s ease-in-out;

  border-radius: 30px 0px 0px 30px !important;
  border: 4px solid #ffa9a9 !important;


  .sidebar-toggle {
    
    width: 75%;
    &.top {
      top: 5px;
    }
    &.bottom {
      position: absolute;
      bottom: 5px;
    }
  }
}

.sidebar.open {
  right: 0;
}
.content.open {
  right: 15vw;
}
